<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
        <c-row class="justify-content-center">
            <c-col lg="7" md="9" xl="9">
                <c-card class="mx-6">
                    <c-card-body class="p-4">
                        <form #setupForm="ngForm" (ngSubmit)="onSubmit()" [validated]="setupValidated" cForm
                            class="needs-validation">
                            <h1>Master account registeration</h1>
                            <p class="text-medium-emphasis">Setup master account, This is the initial page setup with
                                full permission to manage all the components of the sub users
                                and can create users and assign roles with privileges for enhanced multi tenant account.
                            </p>
                           
                            <c-input-group class="mb-3">
                                <span cInputGroupText>
                                    <svg cIcon name="cilUser"></svg>
                                </span>
                                <input autoComplete="firstName" cFormControl placeholder="Firstname" id="firstName"
                                    required />
                                <c-form-feedback [valid]="false">Firstname is required!</c-form-feedback>
                            </c-input-group> <c-input-group class="mb-3">
                                <span cInputGroupText>
                                    <svg cIcon name="cilUser"></svg>
                                </span>
                                <input autoComplete="lastName" cFormControl placeholder="Lastname" id="lastName"
                                    required />
                                <c-form-feedback [valid]="false">LastName is required!</c-form-feedback>
                            </c-input-group> <c-input-group class="mb-3">
                                <span cInputGroupText>
                                    <svg cIcon name="cilUser"></svg>
                                </span>
                                <input autoComplete="userName" cFormControl placeholder="Username" id="userName"
                                    required />
                                <c-form-feedback [valid]="false">Username is required!</c-form-feedback>
                            </c-input-group>
                            <c-input-group class="mb-3">
                                <span cInputGroupText>@</span>
                                <input autoComplete="email" cFormControl placeholder="Email" id="email" required />
                                <c-form-feedback [valid]="false">email is required!</c-form-feedback>
                            </c-input-group>
                            <c-input-group class="mb-3">
                                <span cInputGroupText>
                                    <svg cIcon name="cilLockLocked"></svg>
                                </span>
                                <input autoComplete="new-password" cFormControl placeholder="Password" id="password"
                                    type="password" required />
                                <c-form-feedback [valid]="false">Password is required!</c-form-feedback>
                            </c-input-group>
                            <c-input-group class="mb-4">
                                <span cInputGroupText>
                                    <svg cIcon name="cilLockLocked"></svg>
                                </span>
                                <input autoComplete="new-password" cFormControl placeholder="Repeat password"
                                    type="password" id="rePassword" required />
                                <c-form-feedback [valid]="false">Confirm password is required!</c-form-feedback>
                               
                            </c-input-group>
                            <div class="d-grid">
                                <button cButton color="success" type="submit">Create Account</button>
                            </div>
                            <!-- <c-row class="d-grid gap-2">
                  <c-col xs="12">
                    <button cButton class="px-6" color="success" type="submit">
                      <span>
                        <svg cIcon name="cilUser"></svg>
                      </span>
                       Create Account
                    </button>
                  </c-col>
                 
                </c-row> -->
                        </form>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
    </c-container>
</div>
<c-toaster [placement]="position" class="p-3" position="fixed">
    <c-toast
      (timer)="onTimerChange($event)"
      (visibleChange)="onVisibleChange($event)"
      [visible]="visible">
      <c-toast-header>
      </c-toast-header>
      <c-toast-body>
        <p>{{errorMessage}}</p>
      </c-toast-body>
    </c-toast>
  </c-toaster>